.App {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote-cont {
    background-color: rgba(245, 245, 220, 0.65);
    border-left: 5px solid #0064A4;
    border-right: 5px solid #0064A4;
    padding: 15px;
    margin: 10px 0;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    width: 100%;
    box-sizing: border-box;
    text-align: left;
}

.quote-message {
    font-size: 20px;
    color: #222;
    margin: 0 0 15px 0;
    font-style: italic;
    line-height: 1.5;
}

.quote-details {
    display: flex;
    justify-content: space-between;
    color: #919191;
    font-size: 15px;
    border-top: 1px solid rgba(207, 207, 207, 0.54);
}

.quote-author {
    font-weight: 700;
    color: #0064a4;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.quote-message::before {
    content: open-quote;
    color: #0064a4;
    font-weight: bold;
    margin-right: 2px;
}

.quote-message::after {
    content: close-quote;
    color: #0064a4;
    font-weight: bold;
    margin-left: 2px;
}

.list-quotes {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    padding: 0 20px;
}

body {
    background-color: #eef3f8;
}

.logo {
    will-change: filter;
    transition: filter 300ms;
}
.logo:hover {
    filter: drop-shadow(0 0 5px #0066cc) drop-shadow(0 0 20px #0066cc);
    transform: scale(1.05);
}

h1 {
    font-size: 40px;
    color: #1c1c1c;
}

form {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

input {
    padding: 13px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 16px;
    box-sizing: border-box;
    transition: border-color 0.2s;
}

button {
    background-color: #0064A4;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #00519f;
}

select {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 16px;
    cursor: pointer;
}

